.footer{
    width: 100%;
    height: 200px;
    background-color:antiquewhite;
}

.footerTitle{
 font-size: 35px;
}

.footerDisc{
    font-size: 15px;
    padding-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 3vh;
}

.footerText{
    padding-top: 35px;
    font-family: sans-serif;
    text-align: center;
}

.footerCopyWrite{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}